{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About</h1>
<p>
    Odyssey SpeedTech is a website for finding speedrunning clips and strategies for Super Mario Odyssey.
    The goal is to get all of the clips scattered around Twitter, YouTube, and Twitch and compile them all
    into one location where people can easily find them.
</p>
<p>
    This website is created by Charlie Schuy. Contact him on Twitter (<a href="https://www.twitter.com/krankdud">@Krankdud</a>)
    or on Discord (Krankdud#1273) if you have questions or suggestions!
</p>
<p>
    The code for the website is open source! You can check it out on <a href="https://www.github.com/Krankdud/speedtech">GitHub</a>.
</p>
{% endblock %}