{% extends "base.html" %}
{% from 'search/result.html' import search_result %}
{% from 'search/pagination.html' import pagination %}

{% block title %}{{ search_query }}{% endblock %}
{% block content %}
<div class="search-title mb-4">
    <h3>Showing search results for: {{ search_query }}</h3>
</div>
{% if page_count > 0 %}
    {% for clip in clips %}
        {{ search_result(clip, loop.index) }}
    {% endfor %}
    {{ pagination('/search?q=' + search_query + '&page=%d', page, page_count) }}
{% else %}
    No results found.
{% endif %}
{% include "report.html" %}
{% endblock %}