{% extends "base.html" %}
{% from 'search/result.html' import search_result %}
{% from 'search/pagination.html' import pagination %}

{% block title %}{{ search_query }}{% endblock %}
{% block content %}
<div class="tag-title mb-4">
    <h3>Showing clips tagged with: {{ tag_name }}</h3>
</div>
{% if page_count > 0 %}
    {% for clip in clips %}
        {{ search_result(clip, loop.index) }}
    {% endfor %}
    {{ pagination('/tag/' + tag_name + '/%d', page, page_count) }}
{% else %}
    No clips found with the tag {{ tag_name }}
{% endif %}
{% include "report.html" %}
{% endblock %}