{% extends "base.html" %}
{% from 'search/result.html' import search_result %}
{% from 'search/pagination.html' import pagination %}

{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ user.username }}</h1>
        {% if user.banned %}
        <div class="user-ban">
            This user is banned.
        </div>
        {% endif %}
        <div class="user-social-media">
            <ul>
                {% if user.twitter is not none %}
                    <li><a href="http://www.twitter.com/{{ user.twitter }}">Twitter</a></li>
                {% endif %}
                {% if user.twitch is not none %}
                    <li><a href="http://www.twitch.tv/{{ user.twitch }}">Twitch</a></li> 
                {% endif %}
                {% if user.youtube is not none %}
                    <li><a href="http://www.youtube.com/user/{{ user.youtube }}">YouTube</a></li>
                {% endif %}
                {% if user.speedruncom is not none %}
                    <li><a href="http://www.speedrun.com/user/{{ user.speedruncom }}">speedrun.com</a></li>
                {% endif %}
                {% if user.discord is not none %}
                    <li>Discord: {{ user.discord }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="user-edit">
            {% if user.id == g.user.id %}
                <a href="{{ url_for('views.user_edit_profile') }}">Edit profile</a>
            {% endif %}
        </div>
        {% if g.user_is_admin %}
            <div class="mt-5">
                Administration tools:
            </div>
            <div>
                <a href="#" data-toggle="modal" data-target="#ban-modal">Ban user</a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-8">
        <div class="mb-4">
            <h1>Clips</h1> 
        </div>
        {% if page_count > 0 %}
            {% for clip in clips %}
                {{ search_result(clip, loop.index, show_user=false) }}
            {% endfor %}
            {{ pagination('/user/' + user.username + '/%d', page, page_count) }}
        {% else %}
            No clips have been uploaded by {{ user.username }}
        {% endif %}
    </div>
</div>
{% include "report.html" %}

{% if g.user.is_authenticated and g.user_is_admin %}
<div class="modal fade" id="ban-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ban user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('views.ban_user') }}" method="POST" role="form">
                <div class="modal-body">
                    {{ ban_form.csrf_token }}
                    {{ ban_form.user_id }}
                    Are you sure you want to ban {{ user.username }}?
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}